.input {
  display: block;
  border-radius: 4px;
  border: 2px solid #6B99C3;
  width: 95%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.input:focus-visible {
  outline-color: #D2D2D4;
}

.input::placeholder {
  color: #6B99C3;
  font-size: 1rem;
}

.error_message {
  height: 20px;
  color: red;
}